{
  "service": {
    "name": "hotels-service",
    "id": "hotels-service-api",
    "port": 8080,
    "connect": {
      "sidecar_service": {
        "proxy": {
          "upstreams": [
            {
              "destination_name": "postgres",
              "local_bind_port": 5432
            }
          ]
        }
      }
    }
  }
}