[Unit]
Description=Hotel Service
After=network.target consul.service
Wants=consul.service

[Service]
Type=simple
User=hotel-app
Group=hotel-app
WorkingDirectory=/opt/hotel-service
ExecStartPre=/opt/hotel-service/wait-for-consul.sh
ExecStart=/usr/bin/java -Xmx512m -jar target/{{ jar_filename.stdout }}
Environment=POSTGRES_HOST=192.168.56.30
Environment=POSTGRES_PORT=5432
Environment=POSTGRES_DB=hotels_db
Environment=POSTGRES_USER=postgres
Environment=POSTGRES_PASSWORD={{ db_password }}
Environment=SPRING_JPA_HIBERNATE_DDL_AUTO=update
Environment=SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.PostgreSQLDialect
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
