[Unit]
Description=Hotel Service
After=network.target

[Service]
User=hotel-svc
Group=hotel-svc
Environment="POSTGRES_HOST=db.service.consul"
Environment="POSTGRES_PORT=5432"
Environment="POSTGRES_DB=hotels_db"
Environment="POSTGRES_USER=hotel_user"
Environment="POSTGRES_PASSWORD=hotel_password"
ExecStart=/usr/bin/java -jar /opt/hotel-service/hotel-service.jar
Restart=always

[Install]
WantedBy=multi-user.target