# Environment variables for hotels service
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=hotels_db
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
JAVA_OPTS="-Xms256m -Xmx512m -Dspring.profiles.active=prod"
CONSUL_HOST=consul_server
CONSUL_PORT=8500
SERVER_PORT=8082